$white: #ffffff;
$dark-white: #f5f7fa;
$sky: #dfeef9;
$dark-blue: #001a34;
$blue: #005bff;
$light-blue: #0096ff;
$black: #070707;
$light-gray: #ccd6e4;
$gray: #667685;
$dark-gray: #707f8d;
$light-green: #d8f3e7;
$orange: #ffa800;
$bg-default: #f2f5f9;
$footer-icon-block: #e9edf4;