.calculate {
  &__section {
    padding-top: 120px;
    @include small-tablet {
      padding-top: 0px;
    }
  }
  &__title {
    font-size: 30px;
    @include small-tablet {
      font-size: 24px;
    }
  }
  &__progress {
    &-text {
      @include mobile {
        font-size: 14px;
      }
    }
    &-block {
      background-color: $light-blue;
      position: relative;
      overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    @include small-tablet {
      padding: 16px;
    }
    }
  }
  &__steps {
    display: flex;
    max-width: max-content;
    gap: 4px;
  }
  &__progress-step {
    height: 4px;
    width: 60px;
    background-color: #CCD6E466;
    border-radius: 2px;
  }
  &__progress-step:first-child {
    background-color: $orange;
  }
  &__form {
    position: relative;
    background-color: #8AB9FE99;
    backdrop-filter: blur(4px);
    max-width: 500px;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px;
    border-radius: 20px;
    &-title {
      font-size: 24px;
      @include small-tablet {
        font-size: 20px;
      }
    }
    &-subtitle {
      font-size: 16px;
      @include small-tablet {
        font-size: 14px;
      }
    }
    @include small-tablet {
      padding: 24px 16px;
    }
  }
  &__form input {
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 16px;
  }
  &__form input::placeholder {
    color: #707F8D;
    font-size: 16px;
  }
  &__checkbox-menu {
    display: flex; 
    flex-wrap: wrap;
    gap: 8px;
  }
  &__add-city {
    color: $white;
    background-color: #CCD6E466;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    &-input {
      visibility: hidden;
    }
  }
  &__left-img {
    position: absolute;
    bottom: -400px;
    left: -200px;
    img {
      border-bottom-left-radius: 16px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include small-tablet {
      top: -0%;
    }
  }
  &__right-img {
    position: absolute;
    top: 0;
    right: 0;
    @include tablet {
      display: none;
    }
  }
}
.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  font-size: 12px;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  background-color: $black;
  transition: 0.15s ease;
  color: $white;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  transition: 0.15s ease;
  background-color:  $black;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: $white;
  transition: 0.15s ease;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 0.5rem;
  background-color: #CCD6E466;
  color: $white;
  font-weight: 300;
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;

  &:hover {
    border-color: #9a9a9a;
  }

  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
}

.checkbox-wrapper-16 .checkbox-label {
  color: $white;
  text-align: center;
  font-size: 12px;
}
