.footer{
  padding-top: 80px;
  @include small-tablet {
    padding-top: 50px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 39px;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }
  &__title {
    color: $dark-blue;
    margin-bottom: 19px;
  }
  &__phone {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 19px;
    a {
      color: $black;
      font-size: 14px;
    }
    span {
      color: $dark-blue;
      opacity: 0.4;
      font-size: 12px;
    }
  }
  &__messengers {
    display: flex;
    gap: 12px;
    @include tablet {
      margin-bottom: 39px;
    }
  }
  &__icon-block {
    cursor: pointer;
    background-color: $footer-icon-block;
  }
  &__bottom {
    font-size: 10px;
    font-weight: 500;
    color: $gray;
    margin-bottom: 40px;
  }
  &__link {
    color: $blue;
  }
}