.header{
  &__section{
    background: $blue;
    position: relative;
    z-index: 1;
    @include tablet {
      background-color: $white;
    }
  }
  &__logo{
    color: $white;
    @include tablet {
      color: $blue;
    }
  }
  &__burger {
    display: none;
    padding: 5px;
    @include tablet {
      display: block;
    }
  }
  &__container {
    padding: 17px 16px;
    display: flex;
    align-items: center;
    @include tablet {
      justify-content: space-between;
    }
  }
  &__line {
    background-color: $light-gray;
    width: 100%;
    height: 1px;
  }
}